#wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
}

#FormWrap{
    max-width: 800px;
    margin: 30px auto;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border:#333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
}

form {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    margin: 5px 0;
    display: block;
    font-weight: bold;
    color: #666;
}

input[type="number"],
input[type="date"],
button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Adds padding and border to element's total width and height */
}

button {
    background-color: #5c67f2;
    color: white;
    font-size: 16px;
    margin-top: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a54e1;
}

p {
    
    font-size: 16px;
    margin-top: 20px;
}

/* Custom styles for the results sections */
.result-container {
    text-align: center;
    color: #333;
    padding: 10px;
    background-color: #e0e0e0; /* A subtle grey that matches the form backgrounds */
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid #ccc; /* Consistent with the form border */
}

.result-container span {
    font-weight: bold;
    color: #2171b5; /* Keeping the color for results to make them pop slightly */
}
