hr {
    margin: 10px;
}
.portfolio {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 80px;
}

.portfolio-item {
    margin: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item .description {
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    gap: 5%;
}

#sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    height: 100vh;
    padding: 1rem;
}

.progress-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px;
    border-color: #2a2a3c;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.content {
    padding: 100px 20px 20px 20px;
    background-color: #f9f9f9;
    position: relative;
    max-width: 50%;
}

.section {
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: justify;
}

.progress-bar li {
    list-style: none;
    width: 1rem;
    height: 1rem;
    color: #fff;
    background: #2a2a3c;
    border: 1px solid #2a2a3c;
    border-radius: 4px;
}


.progress-bar:hover li {
    margin: 10px;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
}

.section img {
    width: 100%;
    height: auto;
    border: 1px solid #000;
}

li.active {
    background-color: #494969;
}

.progress-bar:hover a {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    #sidebar {
        display: none;
    }

    .content {
        max-width: 100%;
    }

    main {
        padding: 0 5%;
    }
    .section {
        height: auto;
    }
}